<?xml version="1.0" ?>
<model>
    <name>hay_bale</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Marco Ambrosio</name>
        <email>marco.ambrosio@polito.it</email>
    </author>
    <description>
        Hay bale (https://skfb.ly/oNus7) by NoodlePoodle is licensed under Creative Commons Attribution (http://creativecommons.org/licenses/by/4.0/).
    </description>
</model>    